.textContainer {
  display: flex;
  color: white;
  height: 60%;
  justify-content: space-between;
}

.userContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 50%;
}
