.container {
  display: flex;
  flex-direction: column !important;
  align-items: center;
}

.message {
  color: white;
  font-size: 20px;
  padding: 5px;
}

.tableContainer {
  background-color: #545454;
}

.buttonContainer {
  display: flex;
  flex-direction: row !important;
  align-items: center;
}

.buttonText {
  text-decoration: none;
}

.button {
  padding: 10px;
}
