.header {
  color: white;
  font-size: 40px;
  text-align: center;
}

.userContainer {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  margin: 5px;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 25px;
  margin: 0px 50px;
  padding: 10px;
}

.colorIcon {
  font-size: 50px !important;
}
